// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

/* Estilos básicos */
* {
    font-family: "Nunito", sans-serif;
}

.fas {
    display: inline-block;
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center;
}

@import "sweetalert2/src/sweetalert2.scss";
@import "notyf/notyf.min.css";


select {
    appearance: none;        /* Padrão */
    -webkit-appearance: none; /* Safari/Chrome */
    -moz-appearance: none;    /* Firefox */

    background: url('/images/select-arrow.svg') no-repeat right center;
    background-size: 1.3em;
    padding-right: 3em !important;
}
